<h3>Hello! You can find me at the following locations: </h3>

<div id="font-awesome-wrapper">
	<a href="http://www.twitter.com/joslynrosbrook" style="color:dodgerblue; font-size: 75px" class="fa fa-twitter-square"></a>
	<a href="http://www.facebook.com/jrosbrook" style="color:blue; font-size: 75px" class="fa fa-facebook-square"></a>
	<a href="http://www.github.com/meowmaste" style="color:indigo; font-size: 75px" class="fa fa-github-square"></a>
	<a href="http://www.linkedin.com/in/joslynrosbrook" style=" color:dimgray; font-size: 75px" class="fa fa-linkedin-square"></a>
</div>